name: AgroCore CI/CD

on:
  push:
    branches: [ "master" ]

jobs:

  build-and-deploy:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Login DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/agrocore:latest .

    - name: Push image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/agrocore:latest

    - name: Setup kubectl
      uses: azure/setup-kubectl@v4

    - name: Configure kubeconfig
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBE_CONFIG }}" > $HOME/.kube/config

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/
        kubectl rollout restart deployment agrocore
